<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
  <h1>Los Pizza Hermanos</h1>
  <nav>
      <ul>
        <li> <a href="/pizzas"> All Orders </a> </li>
        <li><a href="/pizzas/new">Order a pizza</a></li>
      </ul>
  </nav>


  <%= yield %>

  <hr/>
  <img src="https://hadyelcott.files.wordpress.com/2016/04/gus.jpg?w=676" alt="Gus">
</body>
</html>
