<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <header>
    <img id="portrait" src="https://hadyelcott.files.wordpress.com/2016/04/gus.jpg?w=676" alt="Gus">
    <h1>Los Pizza Hermanos</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/pizzas">All Orders</a></li>
      <li><a href="/pizzas/new">Order a Pizza</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
